.grid__item__player {
	width: 70%;
	background-color: var(--primary);
	position: relative;
	display: flex;
}

.player__video {
	width: 100%;
	outline: none;
}

.player__overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	/* visibility: hidden; */
	/* ^^^ dev */
}

.player__overlay__top-gradient {
	height: 50%;
	background: linear-gradient(to top, transparent, black);
}

.player__overlay__bottom-gradient {
	height: 50%;
	background: linear-gradient(to bottom, transparent, black);
}

.player__overlay__header {
	position: absolute;
	margin: 20px 0 0 20px;
}

.player__overlay__header__title {
	font-size: 2em;
}

.player__overlay__controls {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	overflow: hidden;
}

.player__overlay__control-item {
	padding: 3px;
}

.player__overlay__controls__volume-area {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.player__overlay__controls__volume-scrubber {
	width: 80px;
	height: 3px;
	margin-left: 5px;
	background-color: var(--invert);
	display: flex;
	align-items: center;
}

.player__overlay__controls__volume-level-indicator {
	width: 15px;
	height: 15px;
	background-color: var(--invert);
	border-radius: 10px;
	margin-left: 25px;
}
