.navbar__header {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.navbar__title {
	flex-grow: 1;
}

.navbar__profile {
	margin-right: 10px;
}

.navbar__controls {
	display: flex;
}

.navbar__controls-icon {
	padding: 0 5px 0 5px;
	border: 1px solid white;
}
