.grid {
	flex-grow: 1;
	overflow: hidden;
}

.grid__container {
	height: 100%;
	width: 100%;
	display: flex;
}

.grid__container--vertical {
	flex-direction: column;
}

.grid__item {
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
}

.grid__item__header {
	visibility: hidden;
	/* ^^^ dev */
	position: absolute;
	z-index: 1000;
	top: 0;
	width: 100%;
	background-color: var(--primary);
	display: flex;
	justify-content: center;
}
